@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans:
		"Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--serif:
		"Canela", "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-fg: #f9f4ff;
	--color-bg: var(--color-black);
	--color-primary: var(--color-black);
	--color-link: #d1c3e3;
	--color-link-hover: var(--color-fg);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: #f7e3bd;
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	--header-height: 5rem;

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

a:hover {
	color: var(--color-link-hover);
	text-decoration-color: var(--color-link-hover);
}

button {
	border: 2px solid #4c5c8f;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
}
